<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        li{
            float: left;
        }
        li a{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover:not(){
            background-color: #111;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/reg">New Registration</a></li>
        <li><a href="/registered">Registered</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/update">Update</a></li>
        <li><a href="/drop">Drop Out</a></li>
    </ul>
</body>
{%block content%}
{%endblock%}
</html>
